<% include ../partials/header %>
    <div class="container"> 
        <div class="row">
            <h1 style="text-align: center"> Create a new Comment to <%= camp.name %></h1>
            <div style="width:30%; margin:28px auto">
                <form action="/campgrounds/<%= camp.id %>/comments" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="comment[text]" placeholder="your comment here">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">submit!</button>
                    </div>
                </form>
                <a href="/campgrounds">Go back</a>
            </div>
        </div>
    </div>
<% include ../partials/footer %>
